<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DON KAMPO API</title>
    <link rel="icon" type="image/x-icon" href="/web/logo-don-kampo.png">
</head>
<body>
    <!-- Contenedor para la imagen de fondo -->
    <div id="background-container">
        <div id="background-image"></div>
    </div>

    <!-- Contenido principal -->
    <div class="form-wrapper" id="formWrapper">
        <!-- Imagen del logo -->
        <div class="logoImg"></div>
        <h1 class="tittle">DON KAMPO API<br><span style="color: #034287;"></span></h1>
    </div>

    <style>
        /* Estilos para el contenedor principal */
        #background-container {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }

        #background-image {
            width: 100%;
            height: 100%;
            background-image: url('../web/background.jpg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        body {
            user-select: none;
            font-family: OPTIStymie;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .form-wrapper {
            width: 320px;
            color: #fff;
            border-radius: 10px;
            padding: 60px;
            text-align: center;
            background: rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(10px);
            z-index: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .logoImg {
            width: 450px; /* Ajusta el tamaño */
            height: 450px; /* Ajusta el tamaño */
            background-image: url('../web/logo-don-kampo.png'); /* Asegúrate de que la ruta sea correcta */
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain; /* Ajusta la imagen para que se vea bien dentro del contenedor */
            border-radius: 50%;
            rotate: 0deg;
        }

        .tittle{
            font-family: Bahnschrift;
            color: white;
        }

        .form-wrapper::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
            filter: blur(10px);
            z-index: -1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

    </style>
</body>
</html>
